<p style="color: green"><%= notice %></p>

<%= render @teacher_availability %>

<div>
  <%= link_to "Edit this teacher availability", edit_teacher_availability_path(@teacher_availability) %> |
  <%= link_to "Back to teacher availabilities", teacher_availabilities_path %>

  <%= button_to "Destroy this teacher availability", @teacher_availability, method: :delete %>
</div>
