
<h1>Details of all the students</h1>



<ul>
  <% @student_details.each do |student_detail| %>
    <li>  
    <a href="<%= student_detail_path(student_detail) %>">

      <%= student_detail.student_name %>
      <%= student_detail.parent_name %>
      <%= student_detail.student_class %>
      <%= student_detail.syllabus %>
      <%= student_detail.subject %>
      <%= student_detail.phone_no %>
      <%= student_detail.email_id %>
      <%= student_detail.course_duration %>
      <%= student_detail.reference %>
      <%= link_to 'Show', student_detail %>
      <%= link_to 'Edit', edit_student_detail_path(student_detail) %>
      <%= link_to 'Delete', student_detail_path(student_detail), method: :delete, data: { confirm: "Are you sure?" } %>
    </a>
    </li>
  <% end %>
  
</ul>
<%= link_to "Add new Student", new_student_detail_path %>
