<p style="color: green"><%= notice %></p>

<h2>

<p><strong>Student Name: </strong><%= @student_detail.student_name %></p>
<p><strong>Parent Name: </strong><%= @student_detail.parent_name %></p>
<p><strong>Student class: </strong><%= @student_detail.student_class %></p>
<p><strong>Syllabus: </strong><%= @student_detail.syllabus %></p>
<p><strong>Subject: </strong><%= @student_detail.subject %></p>
<p><strong>Phone No: </strong><%= @student_detail.phone_no %></p>
<p><strong>Email: </strong><%= @student_detail.email_id %></p>
<p><strong>Course Duration: </strong><%= @student_detail.course_duration %></p>
<p><strong>Reference: </strong><%= @student_detail.reference %></p>
</h2>


<li><%= link_to 'Edit', edit_student_detail_path(@student_detail) %></li>
   <li><%= link_to "Destroy", student_detail_path(@student_detail), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>

<%= link_to 'Back', student_details_path %> </li>
</ul>
